@using KidsSchool.Models.Dao;
@try
{
    <header class="page-header">
        <div class="container-header">
            @{var config = DataPuplic.GetInstance().GetConfig(false);
            }
            <div class="logo">
                <a href="/">
                    <img src="@config.Icon?mode=pad" style="float:left" alt="">
                    <div class="text-container slogan">
                        <span class="logo-text">KOJIN</span>
                        <span class="additional-text">Tôn trọng, sáng tạo và yêu thương</span>
                    </div>
                </a>

            </div>
            <div class="box-shadow-mb"></div>
            <div class="toggle-icon">
                <div class="inner-toggle-icon"> <span></span> <span></span> <span></span> </div>
            </div>
            <div class="main-menu">
                <ul class="ul-main">
                    @foreach (var item in Model)
                    {
                        var MenuChild = DataPuplic.GetInstance().GetMenu(false).Where(m => m.ParentId == item.Id).OrderBy(x => x.OrderBy).ToList();
                        if (MenuChild.Count > 0)
                        {
                            <li class="has-sub-menu-1">
                                @if (!string.IsNullOrEmpty(item.Icon))
                                {
                                    <img src="@item.Icon?w=50&h=50&mode=pad" alt="" class="jet-menu-icon" style="width: 50px;">
                                }
                                <a href="javascript:void(0)">
                                    <span class=" main">@item.Text.ToUpper()</span>
                                </a>
                                <div class="sub-menu-1">
                                    <ul>
                                        @foreach (var item2 in MenuChild)
                                        {
                                            <a href="@item2.Url" @Html.Display(item2.Target == 1 ? "target=\"_blank\" rel=\"nofollow\"" : "") title="@item2.Text">@item2.Text.ToUpper()</a>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                @if (!string.IsNullOrEmpty(item.Icon))
                                {
                                    <img src="@item.Icon?w=50&h=50&mode=pad" alt="" class="jet-menu-icon" style="width: 50px;">
                                }
                                <a href="@item.Url" @Html.Display(item.Target == 1 ? "target=\"_blank\" rel=\"nofollow\"" : "") title="@item.Text">@item.Text.ToUpper()</a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </header>
}
    catch { }
<style>
    .logo-with-text {
        display: flex;
        align-items: center;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Căn giữa theo chiều ngang */
        justify-content: center; /* Căn giữa theo chiều dọc */
        margin-left: 10px; /* Khoảng cách giữa logo và chữ */
    }

    .logo-text {
        margin: 19px 0 0 0;
        font-size: 14px;
        color: #2185d0;
    }

    .additional-text {
        font-size: 13px;
        margin-left: 9px;
        color: #c7c74a;
    }
</style>