@using KidsSchool.Models.Dao;
@try
{
    <header class="page-header">
        <div class="container-header">
            @{var config = CacheHelper.GetInstance().GetConfig(false);
                var MenuChildLst = CacheHelper.GetInstance().GetMenu(false);
                var cate = CacheHelper.GetInstance().GetCate(false).Where(x => x.ShowIndex).ToList();
            }
            <div class="logo">
                <div>
                    <a href="/">
                        <img src="@config.Icon?mode=pad" style="float:left" alt="">
                    </a>
                </div>
                

            </div>
            <div class="box-shadow-mb"></div>
            <div class="toggle-icon">
                <div class="inner-toggle-icon"> <span></span> <span></span> <span></span> </div>
            </div>
            <div class="main-menu">
                <ul class="ul-main">
                    <li class="">
                        <a href="/" title="Trang chủ">TRANG CHỦ</a>
                    </li>
                    <li class="has-sub-menu-1">

                        <a href="javascript:void(0)">
                            <span class=" main">CHƯƠNG TRÌNH</span>
                        </a>
                        <div class="sub-menu-1">
                            <ul>
                                @foreach (var info in cate)
                                {
                                    var childPro = info.Posts.Where(p => p.Active == true);

                                    <li id="sub2Box" class=" has-sub-menu-2">
                                        <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = info.Slug })">
                                            <span class=" main">@info.Name</span>
                                        </a>
                                        <div class="sub-menu-2">
                                            <ul>
                                                @foreach (var chPro in childPro)
                                                {
                                                    <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = chPro.Slug })" title="@chPro.Title">@chPro.Title</a>
                                                }


                                            </ul>
                                        </div>
                                    </li>
                                }


                            </ul>
                        </div>
                    </li>

                    @foreach (var item in Model)
                    {
                        if(item.Text.ToLower() == "trang chủ" || item.Text.ToLower() == "chương trình")
                        {
                            continue;
                        }
                        var MenuChild = MenuChildLst.Where(m => m.ParentId == item.Id).OrderBy(x => x.OrderBy).ToList();
                        if (MenuChild.Count > 0)
                        {
                            <li class="has-sub-menu-1">
                                @*@if (!string.IsNullOrEmpty(item.Icon))
                    {
                        <img src="@item.Icon?w=50&h=50&mode=pad" alt="" class="jet-menu-icon" style="width: 50px;">
                    }*@
                                <a href="javascript:void(0)">
                                    <span class=" main">@item.Text.ToUpper()</span>
                                </a>
                                <div class="sub-menu-1">
                                    <ul>
                                        @foreach (var item2 in MenuChild)
                                        {
                                            <a href="@item2.Url" @Html.Display(item2.Target == 1 ? "target=\"_blank\" rel=\"nofollow\"" : "") title="@item2.Text">@item2.Text.ToUpper()</a>
                                        }
                                    </ul>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li>
                                @*@if (!string.IsNullOrEmpty(item.Icon))
                    {
                        <img src="@item.Icon?w=50&h=50&mode=pad" alt="" class="jet-menu-icon" style="width: 50px;">
                    }*@
                                <a href="@item.Url" @Html.Display(item.Target == 1 ? "target=\"_blank\" rel=\"nofollow\"" : "") title="@item.Text">@item.Text.ToUpper()</a>
                            </li>
                        }
                    }



                </ul>
            </div>
        </div>
    </header>
}
    catch { }
<style>
    .logo-with-text {
        display: flex;
        align-items: center;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center; /* Căn giữa theo chiều ngang */
        justify-content: center; /* Căn giữa theo chiều dọc */
        margin-left: 10px; /* Khoảng cách giữa logo và chữ */
    }

    .logo-text {
        margin: 19px 0 0 0;
        font-size: 14px;
        color: #2185d0;
    }

    .additional-text {
        font-size: 13px;
        margin-left: 9px;
        color: #c7c74a;
    }

    #sub2Box{
        height: auto;
        background: inherit;
    }

        #sub2Box a {
            white-space: inherit;
            color: inherit;
            border-radius: 7px;
        }

        #sub2Box :hover {
            background: none;
           /* border: none;
            padding: 0;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 0;*/
        }
    #sub2Box > a:hover {
        background: linear-gradient(to right, #FF5733, #FFC300, #36A2EB, #4CAF50);
        border: none;
        color: white;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
        border-radius: 10px;
    }
        #sub2Box :hover a {
            background: white;
        }
        #sub2Box ul a:hover {
            background: #03a9f4b5;
        }
        /*  #sub2Box > a :hover {
            background: inherit;
            border: none;
            padding: 0;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            cursor: pointer;
            border-radius: 0;
        }*/
</style>