<div class="main-menu">
    <ul class="ul-main">
        @foreach (var item in Model)
        {
            var getlist = ViewBag.MenuChil as IEnumerable<KidsSchool.Models.DB.Menu>;
            var MenuChild = getlist.Where(m => m.ParentId == item.Id).OrderBy(x => x.OrderBy).ToList();
            if (MenuChild.Count > 0)
            {
                <li class="has-sub-menu-1">
                    <a href="javascript:void(0)">
                        <span class=" main">@item.Text.ToUpper()</span>
                    </a>
                    <div class="sub-menu-1">
                        <ul>
                            @foreach (var item2 in MenuChild)
                            {
                                <a href="@item2.Url" @Html.Display(item2.Target == 1 ? "target=\"_blank\" rel=\"nofollow\"" : "") title="@item2.Text">@item2.Text.ToUpper()</a>
                            }
                        </ul>
                    </div>
                </li>
            }
            else
            {
                <li><a href="@item.Url" @Html.Display(item.Target == 1 ? "target=\"_blank\" rel=\"nofollow\"" : "") title="@item.Text">@item.Text.ToUpper()</a></li>
            }
        }
        <li class="">
            <a class="register" href="/dang-ky">ĐĂNG KÝ </a>
        </li>
    </ul>
    <div class="clearfix"></div> <a class="register-mobile" href="/dang-ky">ĐĂNG KÝ</a>
</div>