@using Microsoft.AspNet.Identity
@*@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", @class="nav-link" })
        </li>
        <li><a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class="nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class="nav-link" })</li>
    </ul>
}*@
<header class="page-header">
    <div class="container-header">
        <div class="logo">
            <a href="/"><img src="/Assets/Home/images/logo.png" alt=""> </a>
        </div>
        <div class="box-shadow-mb"></div>
        <div class="toggle-icon">
            <div class="inner-toggle-icon"> <span></span> <span></span> <span></span> </div>
        </div> 
        @Html.Action("_MainMenu", "Menus")
    </div>
</header>