<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Needs
      ================================================== -->
    <meta charset="utf-8">
    <title>@Html.Raw(ViewBag.Title)</title>
    <!-- Mobile Specific Metas-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    <link rel="icon" type="image/png" href="/Images/images/favicon.png" />
    <meta name="robots" content="index,follow,noarchive,max-image-preview:large" />
    <meta name="Googlebot" content="index,follow" />
    @RenderSection("HeaderMetas", false)
    <link href="/Assets/Home/vendor/bootstrap/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/owlcarousel/owl.carousel.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/owlcarousel/owl.theme.default.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/wow/animation.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/semantic/semantic.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/vendor/fancybox/jquery.fancybox.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/css/style.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Assets/Home/css/customer.css" media="screen" rel="stylesheet" type="text/css">
    <link href="~/Assets/Admin/css/sweetalert.css" rel="stylesheet" />
    <link href="~/Assets/Home/css/dialog.css" rel="stylesheet" />
   
    @RenderSection("headerScript", false)
</head>
<body class="body-template1">
    @Html.Action("_MainMenu", "Menus")
    @{ Html.RenderPartial("_Alerts"); }
    @RenderBody()
    @Html.Action("Footer", "Home")
    @Html.Partial("_ContactScrollPartial")
    @Html.Partial("_DialogPartial")
    <div class="back-to-top show">
        @*<img src="Assets/Home/images/toTop.png" />*@
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js" integrity="sha256-JirYRqbf+qzfqVtEE4GETyHlAbiCpC005yBTa4rj6xg=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/Assets/Home/vendor/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/Assets/Home/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Assets/Home/vendor/bootstrap/popper.min.js"></script>
    <script src="/Assets/Home/vendor/bootstrap/bootstrap.min.js"></script>
    <script src="/Assets/Home/vendor/owlcarousel/owl.carousel.min.js"></script>
    <script src="/Assets/Home/vendor/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="/Assets/Home/vendor/semantic/semantic.min.js"></script>
    <script src="/Assets/Home/vendor/fancybox/jquery.fancybox.min.js"></script>
    <script src="/Assets/Home/vendor/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/Assets/Home/vendor/wow/wow.min.js"></script>
    <script src="/Assets/Home/scripts/an.js"></script>
    @RenderSection("scripts", required: false)
    <script>

        function SubmitSentContact(idname, chilname, chilage, idmail, idphone, idaddress, idselect, idquestion, type) {

            var coldata = {};
            coldata.name = idname == "none" ? "none" : document.getElementById(idname).value;
            coldata.chilname = chilname == "none" ? "none" : document.getElementById(chilname).value;
            coldata.chilage = chilage == "none" ? "none" : document.getElementById(chilage).value;
            coldata.email = idmail == "none" ? "none" : document.getElementById(idmail).value;
            coldata.phone = idphone == "none" ? "none" : document.getElementById(idphone).value;
            coldata.address = idaddress == "none" ? "none" : document.getElementById(idaddress).value;
            coldata.idselect = idselect == "none" ? "none" : document.getElementById(idselect).value;
            coldata.idquestion = idquestion == "none" ? "none" : document.getElementById(idquestion).value;

            if (coldata.name == "" || coldata.email == "" || coldata.phone == "" || coldata.address == "") {
                swal("Cancelled", "Vui lòng điền thông tin đầy đủ khi gửi đi  :)", "error");
                return;
            }
            var content = "";
            content = coldata.idselect + ": " + coldata.idquestion

            $.ajax({
                url: '/Home/SendContactAjax',
                type: 'GET',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: { name: coldata.name, chilname: coldata.chilname, chilage: coldata.chilage, email: coldata.email, phone: coldata.phone, address: coldata.address, type: type, content: content },
                success: function (data) {
                    if (data.success > 0) {
                        swal("GỬI YÊU CẦU THÀNH CÔNG", "“Cảm ơn Bạn đã quan tâm. Chúng tôi đã tiếp nhận Yêu cầu của bạn, Đội Ngũ tư vấn viên của Chúng tôi sẽ liên hệ bạn trong giây Lát ” ", "success");

                    } else {
                        swal("Cancelled", "Hệ thống gửi thất bại vui lòng liên hệ với chúng tôi qua số điện thoại cảm ơn!  :)", "error");
                    }
                }
            });
        }

        function setLastAccessTime() {
            var currentTime = new Date();
            var formattedTime = currentTime.getTime(); // Sử dụng getTime() để lấy thời gian dưới dạng milliseconds
            localStorage.setItem("lastAccessTime", formattedTime);
        }

        function getLastAccessTime() {
            return localStorage.getItem("lastAccessTime");
        }

        $(document).ready(function () {

            if ($("#myDialog").length > 0) {
                // Lấy thông tin thời gian truy cập gần nhất
                var lastAccessTime = getLastAccessTime();

                // Lấy thời gian hiện tại
                var currentTime = new Date().getTime();

                // Kiểm tra nếu chưa có thông tin thời gian truy cập hoặc đã qua ít nhất 15 phút kể từ lần trước
                if (!lastAccessTime || currentTime - lastAccessTime >= 15 * 60 * 1000) {
                    // Mở dialog
                    $("#myDialog").modal("show");

                    // Lưu thời gian truy cập gần nhất
                    setLastAccessTime();
                }
            }
        });

    </script>
</body>
</html>
