@model KidsSchool.Models.DB.Page
@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderMetas
{
    <!-- HTML Meta Tags -->
    <meta name="description" content="@Html.Raw(Model.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(Model.MetaKeyword)" />
    <meta name="author" content="@Request.Url.Host" />
    <meta rel="canonical" href="@Request.Url" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="@Html.Raw(Model.MetaTitle)">
    <meta itemprop="description" content="@Html.Raw(Model.MetaDescription)" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(Model.MetaTitle)" />
    <meta property="og:description" content="@Html.Raw(Model.MetaDescription)" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="@Html.Raw(Model.MetaTitle)" />
    <meta name="twitter:description" content="@Html.Raw(Model.MetaDescription)" />
}
<style>
    h1 {
        font-size: 23px;
    }

    h2 {
        font-size: 19px;
    }

    h3 {
        font-size: 15px;
    }

    h2, h3 {
        text-transform: initial;
    }

    #toc_container {
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #aaa;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 20px;
        width: auto;
    }

    .toc_title {
        font-weight: 700;
        text-align: center;
    }

    .detail a {
        color: red;
    }

        .detail a:hover {
            color: blue;
        }
</style>

@if (Model.IsSpecial && Model.content.Contains("img"))
{
    var listContent = Model.content.ConvertPageIsSpecial();
    var imgOnlyData = listContent.FirstOrDefault(data =>
        !string.IsNullOrEmpty(data.Images) &&
        data.H1.Count == 0 &&
        data.H2.Count == 0 &&
        data.H3.Count == 0 &&
        data.H4.Count == 0 &&
        data.H5.Count == 0 &&
        data.OtherTags.Count == 0
    );
    <main class="page-main page-triet-ly">
        @if (imgOnlyData != null)
        {
            <div class="md-banner">
                <div class="container-90">
                    <img title="" class="md-desktop wow zoomIn" alt="@Model.title" src="@imgOnlyData.Images" style="visibility: visible; animation-name: zoomIn;">
                </div>
            </div>
        }
        <div class="meta-group clearfix">
            <div class="container-70">

                <div class="bls-title">
                    <h1 title="@Model.title">@Model.title</h1>
                </div>
            </div>
        </div>
        <div class="blk-triet-ly md-relative">
            <div class="container-70">
                @{
                    if (imgOnlyData != null)
                    {
                        listContent.Remove(imgOnlyData);
                    }

                    foreach (var info in listContent)
                    {
                        if (!string.IsNullOrEmpty(info.Images))
                        {
                            if (info.Stt % 2 == 0)
                            {
                                <div class="blk blk-1">
                                    <div class="thumb wow fadeInRight" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInRight;">
                                        <img src="@info.Images" alt="">
                                    </div>
                                    <div class="content wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                        <div class="inner-content">
                                            @foreach (var h1Text in info.H1)
                                            {
                                                <h1 class="font-size-30 color-green">@Html.Raw(h1Text)</h1>
                                            }
                                            @foreach (var h2Text in info.H2)
                                            {
                                                <h2 class="font-size-30 color-green">@Html.Raw(@h2Text)</h2>
                                            }
                                            @foreach (var h3Text in info.H3)
                                            {
                                                <h3 class="font-size-30 color-green">@Html.Raw(h3Text)</h3>
                                            }
                                            @foreach (var h4Text in info.H4)
                                            {
                                                <h4 class="font-size-30 color-green">@Html.Raw(h4Text)</h4>
                                            }
                                            @foreach (var h5Text in info.H5)
                                            {
                                                <h5 class="font-size-30 color-green">@Html.Raw(h5Text)</h5>
                                            }
                                            <ul class="md-icon-star">
                                                @foreach (var otherTagText in info.OtherTags)
                                                {
                                                    <li>@Html.Raw(otherTagText)</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="blk blk-2 wow fadeInLeft" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">
                                    <div class="content">
                                        <div class="inner-content">
                                            @foreach (var h1Text in info.H1)
                                            {
                                                <h1 class="font-size-30 color-green">@Html.Raw(h1Text)</h1>
                                            }
                                            @foreach (var h2Text in info.H2)
                                            {
                                                <h2 class="font-size-30 color-green">@Html.Raw(@h2Text)</h2>
                                            }
                                            @foreach (var h3Text in info.H3)
                                            {
                                                <h3 class="font-size-30 color-green">@Html.Raw(h3Text)</h3>
                                            }
                                            @foreach (var h4Text in info.H4)
                                            {
                                                <h4 class="font-size-30 color-green">@Html.Raw(h4Text)</h4>
                                            }
                                            @foreach (var h5Text in info.H5)
                                            {
                                                <h5 class="font-size-30 color-green">@Html.Raw(h5Text)</h5>
                                            }
                                            <ul class="md-icon-star">
                                                @foreach (var otherTagText in info.OtherTags)
                                                {
                                                    <li>@Html.Raw(otherTagText)</li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="thumb">
                                        @if (!string.IsNullOrEmpty(info.Images))
                                        {
                                            <img class="md-desktop" src="@info.Images" alt="">
                                            <img class="md-mobile" src="@info.Images" alt="">
                                        }
                                    </div>
                                </div>
                            }
                        }
                    }
                }
            </div>
        </div>
    </main>
}
else
{
    <main class="page-main page-about">
        <div class="md-banner">
            <div class="container-90">
                <img title="" class="md-desktop wow zoomIn" alt="" src="@Model.Image" style="visibility: visible; animation-name: zoomIn;">
            </div>
        </div>
        <div class="meta-group clearfix">
            <div class="container-90">
                <div class="bls-title">
                    <h1 title="@Model.title">@Model.title</h1>
                </div>
            </div>
        </div>
        <div class="blk-about-us md-relative">
            <div class="container-70 wysiwyg">
                <div class="title_page">
                    <div class="detail col-md-12" data-content>
                        @Html.Raw(Model.content)
                    </div>
                </div>
            </div>
        </div>
    </main>
}
@section scripts{
    @(string.IsNullOrEmpty(Model.Script) ? Model.Script : "")
}