@using KidsSchool.Models.Dao;

@{
    var metaconfig = CacheHelper.GetInstance().GetConfig(false);
    ViewBag.Title = metaconfig.MetaTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";

    Random rd = new Random();
}
@section HeaderMetas{
    <!-- HTML Meta Tags -->
    <meta name="description" content="@Html.Raw(metaconfig.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(metaconfig.MetaKeyword)" />
    <meta name="author" content="@Request.Url.Host" />
    <meta rel="canonical" href="@Request.Url" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="@Html.Raw(metaconfig.MetaTitle)">
    <meta itemprop="description" content="@Html.Raw(metaconfig.MetaDescription)" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(metaconfig.MetaTitle)" />
    <meta property="og:description" content="@Html.Raw(metaconfig.MetaDescription)" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="@Html.Raw(metaconfig.MetaTitle)" />
    <meta name="twitter:description" content="@Html.Raw(metaconfig.MetaDescription)" />
}
<main class="page-main page-home">
    @Html.Partial("_SliderShow")
    @Html.Partial("_SpecialPage")
    @Html.Partial("_ListPostIndex")
    @Html.Partial("_AlbumImage")
    @Html.Partial("_ContactHomePartial")
    @Html.Partial("_GGMapPartial")
    @Html.Partial("_DialogPartial")
</main>



@section scripts{
}