@model IEnumerable<KidsSchool.Models.DB.ContactGHelp>

@{
    ViewBag.Title = "Khách hàng liên hệ";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="form-group col-md-3 col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</div>
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="#">@ViewBag.Title</a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">@ViewBag.Title</h3>
            <div class="tile-body">
                <table id="sampleTable" class="table table-striped table-bordered dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.ContactGHelpGroup.Name)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Phone)
                            </th>
                            <th>
                                Tên phụ huynh
                            </th>
                            <th>
                                Tên bé
                            </th>
                            <th>
                                Tuổi bé
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Mail)
                            </th>
                            <th>
                                Nội dung
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Upd_Date)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ContactGHelpGroup.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Phone)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CusName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChilName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ChilAge)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Mail)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Upd_Date)
                                </td>
                                <td>
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section footerScript {
    <!-- Essential javascripts for application to work-->
    <script src="~/Assets/Admin/js/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Admin/js/popper.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/Assets/Admin/js/bootstrap.min.js"></script>
    <!-- Data table plugin-->
    <script type="text/javascript" src="~/Assets/Admin/js/plugins/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Assets/Admin/js/plugins/dataTables.bootstrap.min.js"></script>

}

@section Scripts {
    <script>
        $('#sampleTable').DataTable();
    </script>
}
