   <!-- Sidebar menu-->
<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
<aside class="app-sidebar">
    <div class="app-sidebar__user">

        @*@Html.GravatarImage(User.Identity.Name, new GravatarOptions { Size = 50, DefaultImageType = "wavatar", CssClass = "app-sidebar__user-avatar" })*@
        <img class="app-sidebar__user-avatar" onerror="this.src = '/Images/noimage.gif';" src="/Assets/Home/images/home/tomato.png">
        <div>
            <p class="app-sidebar__user-name"><b>@User.Identity.Name</b></p>
            <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
        </div>
    </div>
    <hr>
    <ul class="app-menu">
        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/home") || Request.Url.AbsoluteUri.Split('/').Count() <= 4? "active":"")" href="/Admin/Home/Index">
                <i class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều khiển</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/menus")? "active":"")" href="/Admin/Menus">
                <i class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">QL Menu</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/Admin/Pages/Edit/26")? "active":"")" href="/Admin/Pages/Edit/26">
                <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Giới Thiệu</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/categories") ? "active":"")" href="/Admin/categories/Index">
                <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Quản danh mục Blog</span>
            </a>
        </li>
        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/posts") ? "active":"")" href="/Admin/Posts/Index">
                <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Quản lý Blog</span>
            </a>
        </li>

        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/banners")? "active":"")" href="/Admin/banners/Index">
                <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Banner/Popup/Hoạt động  </span>
            </a>
        </li>
        @{ bool isfull = User.IsInRole("Quản trị viên");
            if (isfull)
            {
                <li>
                    <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/Admin/AspNetUsers") ? "active" : "")" href="/Admin/AspNetUsers">
                        <i class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý User</span>
                    </a>
                </li>
            }
            else
            {
                <li>
                    <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/user/changepassword") ? "active" : "")" href="/Admin/user/ChangePassword">
                        <i class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Thay đổi mật khẩu</span>
                    </a>
                </li>
            }
        }
        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/contactghelps")? "active":"")" href="/Admin/ContactGHelps/Index">
                <i class='app-menu__icon bx bx-id-card'></i> <span class="app-menu__label">Liên hệ</span>
            </a>
        </li>

        <li>
            <a class="app-menu__item @(Request.Url.AbsoluteUri.ToLower().Contains("/admin/configs")? "active":"")" href="/Admin/Configs/index">
                <i class='app-menu__icon bx bx-cog'></i><span class="app-menu__label">
                    Cài
                    đặt
                </span>
            </a>
        </li>
    </ul>
</aside>

<style>
    .dropdown-menu
    {
        background-color:#f59d39;
    }
</style>