@model IEnumerable<KidsSchool.Models.DB.Post>
@using KidsSchool.Models.DB
<!-- Side widgets-->
<style>
    .leftMenu {
        display: block;
        text-align: center;
        float: left;
    }

        .leftMenu ul {
            margin-top: 0;
            list-style: none;
            padding: 0;
        }

        .leftMenu li {
            width: 100%;
            text-align: left;
            padding-bottom: 10px;
            padding-top: 10px;
            cursor: pointer;
            font-size: 14px;
        }

            .leftMenu li:hover {
                background-color: #e6e6e6;
            }

    .card-header {
        padding: .75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgb(230 230 230);
        border-bottom: 1px solid rgba(0,0,0,.125);
        color: #1a80be;
        font-weight: bold !important;
        text-transform: uppercase;
    }
</style>
<div class="col-lg-4">
    <div class="card mb-4">
        <div class="card-header">Danh mục tin</div>
        <div class="card-body leftMenu">
            @if (ViewBag.Cats != null)
            {
                foreach (Category c in ViewBag.Cats)
                {
                    <li><a href="@Url.RouteUrl("FriendlyRouteCate", new { FriendlyUrl = c.Slug })" title="@Html.Raw(c.Name)">@Html.Raw(c.Name)</a></li>
                }
            }
        </div>
    </div>
    @foreach (var cat in ViewBag.CatSidebar)
    {
        var listblog = Model.Where(x => x.CatId == cat.Id).Take(5).ToList();
        if (listblog.Any())
        {
            <div class="card mb-4" style="margin-top:30px;">
                <div class="card-header">@cat.Name</div>
                <div class="card-body">
                    <div class="input-group">
                        @foreach (var item in listblog)
                        {
                        <div class="row" style=" border-bottom: 1px solid #d3e6dc; text-align: justify; ">
                            <div class="col" style="padding:7px 3px; font-weight:bold;">
                                <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = item.Slug })"> @item.Title</a>
                            </div>
                            <div class="col-auto" style="width:150px; float:right">
                                <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = item.Slug })">
                                    <img class="bd-placeholder-img" style=" width:100%;" onerror="this.src = '/Images/loading.gif';" src="@item.Image?w=150&h=150&mode=pad">
                                </a>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
            }
        }
    </div>