@model PagedList.IPagedList<KidsSchool.Models.DB.Post>
@using KidsSchool.Models
@using System.Web.Configuration
@using PagedList.Mvc;

@{
    ViewBag.Title = string.IsNullOrEmpty(ViewBag.Cat.MetaTitle) ? ViewBag.Cat.Name : ViewBag.Cat.MetaTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderMetas{
    <!-- HTML Meta Tags -->
    <meta name="description" content="@Html.Raw(ViewBag.Cat.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(ViewBag.Cat.MetaKeyword)" />
    <meta name="author" content="@Request.Url.Host" />
    <meta rel="canonical" href="@Request.Url" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="@Html.Raw(ViewBag.Cat.MetaTitle)">
    <meta itemprop="description" content="@Html.Raw(ViewBag.Cat.MetaDescription)" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(ViewBag.Cat.MetaTitle)" />
    <meta property="og:description" content="@Html.Raw(ViewBag.Cat.MetaDescription)" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="@Html.Raw(ViewBag.Cat.MetaTitle)" />
    <meta name="twitter:description" content="@Html.Raw(ViewBag.Cat.MetaDescription)" />
}
<main class="page-main page-lop-hoc">
    <div class="md-banner">
        <div class="container-90">
            <img title="" class="md-desktop wow zoomIn" alt="" src="@ViewBag.Cat.Image" style="visibility: visible; animation-name: zoomIn;">
        </div>
    </div>
    @*<div class="meta-group clearfix">
        <div class="container-70">
            <div class="bls-title">
                <h1 title="@ViewBag.Cat.Name">@ViewBag.Cat.Name</h1>
            </div>
        </div>
    </div>*@
    <div style="margin-top:7px" class="blk-lop-hoc md-relative">
        <div class="container-70">
            <div class="blk-1">
                <h3 class="title wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    @ViewBag.Cat.Name
                </h3>
                <p class="wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
                    @ViewBag.Cat.Description
                </p>
            </div>
            <div class="md-news">
                @foreach (var item in Model)
                {
                    <div class="md-col wow fadeInUp-hl" data-wo-delay="0.3s" style="visibility: visible; animation-name: fadeInUp-hl;">
                        <div class="inner">
                            <div class="thumb">
                                <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = item.Slug })">
                                    <img onerror="this.src = '/Images/noimage.gif';" src="@item.Icon" alt="@item.Title">
                                </a>
                            </div>
                            <div class="info clearfix customer_hight">
                                <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = item.Slug })">
                                    <h3 class="font-size-30 color-green">@item.Title</h3>
                                </a>

                                <a class="md-more" href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = item.Slug })">Chi tiết</a>
                            </div>

                        </div>
                    </div>
                }
            </div> 
            @Html.PagedListPager(Model, page => Url.HttpRouteUrl("FriendlyRouteCate", new { Slug = ViewBag.Cat.Slug, page = page }))

        </div>
    </div>
</main>
@section scripts{
    @(string.IsNullOrEmpty(ViewBag.Cat.Script) ? ViewBag.Cat.Script : "")
}