@model PagedList.IPagedList<KidsSchool.Models.Entity.Post>
@using KidsSchool.Models
@using System.Web.Configuration
@using PagedList.Mvc;
@{

    var metaconfig = DataPuplic.SpecialPage("blog");
    ViewBag.Title = metaconfig.title;
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
    Random rd = new Random();
}
@section HeaderMetas{
    <!-- HTML Meta Tags -->
    <meta name="description" content="@Html.Raw(metaconfig.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(metaconfig.MetaKeyword)" />
    <meta name="author" content="@Request.Url.Host" />
    <meta rel="canonical" href="@Request.Url" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="@Html.Raw(metaconfig.MetaTitle)">
    <meta itemprop="description" content="@Html.Raw(metaconfig.MetaDescription)" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(metaconfig.MetaTitle)" />
    <meta property="og:description" content="@Html.Raw(metaconfig.MetaDescription)" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="@Html.Raw(metaconfig.MetaTitle)" />
    <meta name="twitter:description" content="@Html.Raw(metaconfig.MetaDescription)" />
}
<style>
    .card-title {
        text-transform: inherit;
    }

    a:hover {
        color: #0094ff;
    }
</style>
<!-- Page content-->
<div class="container" style="padding-top:50px;">
    <ul class="breadcrumb">
        <li>
            <a href="/">Trang chủ</a>
        </li>
        /
        <li>
            <a>Blog</a>
        </li>
    </ul>
    <div class="row">
        <!-- Blog entries-->
        <div class="col-lg-8">
            <!-- Nested row for non-featured blog posts-->
            <div class="row">
                @{
                    //var DivStart = "<div class=\"col-lg-6\">";
                    //var fixDivEnd = "</div>";
                    var stt = 0;
                }
                @foreach (var m in Model)
                {
                    if (stt == 0)
                    {
                        <!-- Featured blog post-->
                        <div class="card mb-4">
                            <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = m.Slug })">
                                <img class="card-img-top" onerror="this.src = '/Images/loading.gif';" src="@m.Image?w=850&h=350&mode=pad" alt="@m.Title" title="@m.Title" />
                            </a>
                            <div class="card-body">
                                <div class="small text-muted">Đăng lúc @m.createDate.Value.ToString("dd/MM/yyyy")</div>
                                <h2 class="card-title"><a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = m.Slug })">@m.Title</a></h2>
                                <p class="card-text"> @Html.Raw(m.Content.Remove_Html_Tags().LimitLength(120, "..."))</p>

                            </div>
                        </div>
                    }
                    else
                    {
                        @*if (stt % 2 == 1)
                            {
                                @Html.Raw(DivStart)
                            }*@
                        <!-- Blog post-->
                        <div class="col-lg-6">
                            <div class="card mb-4">
                                <a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = m.Slug })" itemprop="url" title="@m.Title">
                                    <img class="card-img-top" onerror="this.src = '/Images/loading.gif';" src="@m.Image?w=350&h=350&mode=pad" alt="@m.Title" title="@m.Title" />
                                </a>
                                <div class="card-body">
                                    <div class="small text-muted">Đăng lúc @m.createDate.Value.ToString("dd/MM/yyyy")</div>
                                    <h2 class="card-title h4"><a href="@Url.RouteUrl("FriendlyRoute", new { FriendlyUrl = m.Slug })">@m.Title</a></h2>
                                    <p class="card-text">
                                        @Html.Raw(m.Content.Remove_Html_Tags().LimitLength(120, "..."))
                                    </p>
                                </div>
                            </div>
                        </div>
                        @*if (stt % 2 == 0 || stt == Model.Count)
                            {
                                @Html.Raw(fixDivEnd)
                            }*@
                    }
                    stt++;
                }
            </div>
            @Html.PagedListPager(Model, page => Url.Action("Blogs", new { page = page }))

        </div>
        @Html.Action("_Sidebar", "Blogs")
    </div>
</div>



@section scripts{
    @metaconfig.Script
}