@model KidsSchool.Models.DB.Post
@{
    ViewBag.Title = string.IsNullOrEmpty(Model.MetaTitle) ? Model.Title : Model.MetaTitle;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderMetas
{
    <!-- HTML Meta Tags -->
    <meta name="description" content="@Html.Raw(Model.MetaDescription)" />
    <meta name="keywords" content="@Html.Raw(Model.MetaKeyword)" />
    <meta name="author" content="@Request.Url.Host" />
    <meta rel="canonical" href="@Request.Url" />

    <!-- Google / Search Engine Tags -->
    <meta itemprop="name" content="@Html.Raw(Model.MetaTitle)">
    <meta itemprop="description" content="@Html.Raw(Model.MetaDescription)" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="@Request.Url" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@Html.Raw(Model.MetaTitle)" />
    <meta property="og:description" content="@Html.Raw(Model.MetaDescription)" />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:title" content="@Html.Raw(Model.MetaTitle)" />
    <meta name="twitter:description" content="@Html.Raw(Model.MetaDescription)" />
}
@if (Model != null)
{
    <style>
        h1 {
            font-size: 23px;
        }

        h2 {
            font-size: 19px;
        }

        h3 {
            font-size: 15px;
        }

        h2, h3 {
            text-transform: initial;
        }

        #toc_container {
            background: #f9f9f9 none repeat scroll 0 0;
            border: 1px solid #aaa;
            display: table;
            font-size: 95%;
            margin-bottom: 1em;
            padding: 20px;
            width: auto;
        }

        .toc_title {
            font-weight: 700;
            text-align: center;
        }

        .detail a {
            color: red;
        }

            .detail a:hover {
                color: blue;
            }
    </style>
    <main class="page-main page-about">
        <div class="md-banner">
            <div class="container-90">
                <img title="" class="md-desktop wow zoomIn" alt="" src="@Model.Image" style="visibility: visible; animation-name: zoomIn;">
            </div>
        </div>
        <div class="meta-group clearfix">
            <div class="container-90">
                <div class="bls-title">
                    <h1 title="@Model.Title">@Model.Title</h1>
                </div>
            </div>
        </div>
        <div class="blk-about-us md-relative">
            <div class="container-70 wysiwyg">
                <div class="title_page">
                    <div class="detail col-md-12" data-content>
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </main>
}
@section scripts{
    @(string.IsNullOrEmpty(Model.Script) ? Model.Script : "")
}