@model KidsSchool.Models.DB.Banner

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>
<div class="row">
    <div class="form-group col-md-12">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
</div>
<div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item">Banner</li>
        <li class="breadcrumb-item"><a href="#">Delete</a></li>
    </ul>
    <div id="clock"></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Deleter</h3>
            <div class="tile-body">
                <div class="row">
                    <h3>Bạn thực xự muốn xóa?</h3>
                    <div>
                        <h4>Banner</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dd>
                                <img src="@(Model.Images)?w=250&h=250&mode=pad" alt="" width="100px;">
                            </dd>
                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default" /> |
                                @Html.ActionLink("Back to List", "Index")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>